body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.messagesScroller {
  overflow-y:scroll;
  height:512px;
}

.receiversScroller {
  overflow-y:scroll;
  height:70vh;
}


.search-wrapper.searchWrapper .chip.false.false {
  background-color: #198754;
}